.gitignore
temp/Screenshot_recipe_manager.png
__pycache__/utilities.cpython-312.pyc
__pycache__/export_import.cpython-312.pyc
__pycache__/browse_recipe.cpython-312.pyc
__pycache__/add_recipe.cpython-312.pyc
